*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F9F9F9;
    font-family: 'SegoeUI-Regular';
}
ul {
    margin: 0px;
    padding: 0px;
}
img{
    border: none;
}
a:hover, a{
    text-decoration: none;
}
@font-face {
    font-family: 'SegoeUI-Regular';
    src: url('../fonts/SegoeUI-Regular.svg#SegoeUI-Regular') format('svg'),
         url('../fonts/SegoeUI-Regular.ttf') format('truetype'),
         url('../fonts/SegoeUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.mrb-20{
    margin: 10px 0px;
}
.container{
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1200px;
}
.head-three{
    color: #707070;
    font-size: 26px;
    font-weight: normal;
}
header .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header{
    font-family: 'SegoeUI-Regular';
    position: fixed;
    z-index: 1002;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(143, 143, 143, 0.16);
    height: 75px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
}
.search-bar{
    text-align: right;
    width: 58%;
}
.menu-bar ul li{
    display: inline-block;
    margin: 0px 20px;
}
.menu-bar ul li:last-child{
    margin-right: 0px;
}
.menu-bar ul li a{
    font-size: 20px;
    color: #707070;
}
/*Main*/
main{
    padding-top: 75px;
}
.select-type{
    padding: 20px 0px;
}

/*swiper*/
.color-type-slider .swiper-container{
    padding: 20px 0px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    padding: 10px 40px;
    cursor: pointer;
    box-shadow: 0px 3px 6px #7D7D7D29;
    border: 1px solid #BEBEBE;
    border-radius: 27px;
    opacity: 1;
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #707070;
    width: 185px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide:nth-child(2n) {
    width: 185px;
  }

  .swiper-slide:nth-child(3n) {
    width: 185px;
  }
/*Blog*/
.blog-sec{
    background-color: #1E1E1E;
    padding: 60px 0px;
    margin-top: 40px;
}
.blog-sec h1{
    color: #fff;
    font-size:45px;
    width: 100%;
    margin-bottom: 25px;

}
.blog-sec .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.blog-inner{
    border-radius: 10px;
    width: 30%;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffffff;

}
.blog-bottom{
    background-color: #ffffff;
    padding: 20px 20px 25px 20px;
    border-radius: 10px;
}
.blog-title {
    font-size: 26px;
    color: #707070;
}
.blog-content{
    color: #707070;
    font-size: 16px;
    text-align: left;
    line-height: 21px;
    padding-top: 10px;
}
.blog-inner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.blog-sec .view-all{
    font-size: 26px;
    color: #fff;
    width: 100%;
    text-align: right;
    padding-top: 50px;
    position: relative;
    margin-right: 70px;
}
.view-all .arrow{
    position: absolute;
    right: -70px;
    top: 56px;
}
.item {
    width: 216px;
    margin: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    animation-name: item;
    animation-duration: .4s;
    display: inline-block;
    text-align: left;
    animation-fill-mode: backwards;
}
.shadow {
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    transition: box-shadow .3s;
}
.block {
    background-color: #fff;
}
.palette {
    max-width: 100%;
    padding-bottom: 100%;
    border-radius: 6px;
    position: relative;
    display: block;
}
.place {
    position: absolute;
    width: 100%;
    border-radius: 20px 20px 0 0;
    animation-name: place;
    transform-origin: top;
}
.c1 {
    padding-bottom: 25%;
    border-radius: 4px 4px 0 0;
    animation-duration: 1s;
}
.c2 {
    padding-bottom: 50%;
    animation-duration: .6s;
}
.c3 {
    padding-bottom: 75%;
    animation-duration: .2s;
}
.c4 {
    padding-bottom: 100%;
    border-radius: 10px 10px 0px 0px;
    animation-duration: 0s;
}
.palette a {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
.place span {
    position: absolute;
    text-align: center;
    transition: all .2s;
    bottom: 0;
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.1);
    padding: 3px 6px;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    letter-spacing: 1px;
}
.item.liked .like img {
    /* filter: brightness(300%); */
}
.like img {
    width: 15px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    animation-name: heart;
    animation-duration: .5s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
}
.like.button{
    padding: 15px 10px;
}
.pin {
    font-size: 12px;
    position: absolute;
    right: 50px;
    bottom: 13px;
    color: #899bb4;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}
.download {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 13px;
    color: #899bb4;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}
/*Footer*/
footer .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
footer{
    font-family: 'SegoeUI-Regular';
    background-color: #fff;
    height: 75px;
    width: 100%;
    display: flex;
}
footer .social ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}
footer .social ul li:last-child{
    margin-right: 0px;
}
.social{
    padding-top: 10px;
}
footer .menu-bar{
    width: 75%;
    float: right;
    text-align: right;
}